<div class="hud">
    <div class="hud-line">
        <p>
            <i class="fa-solid fa-users"></i>
            <strong>Jugadores:</strong> {{game.getPlayersCount()}}
        </p>
    </div>

    <div class="hud-line">
        <p>
            <i class="fa-solid fa-user-tie"></i>
            <strong>Turno de:</strong> {{currentPlayer?.name }}
        </p>
    </div>

    <div class="hud-line">
        <p>
            <i class="fa-solid fa-bullseye"></i>
            <strong>Objetivo:</strong> Ser la empresa más rentable y con mayor nivel al final del juego
        </p>
    </div>

    <div class="hud-line">
        <p>
            <i class="fa-solid fa-clock"></i>
            <strong>Transcurrido:</strong> {{time}}
        </p>
    </div>
</div>