:root {
    --bg-main: #0F1117;
}

body,
html {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bg-main);
}

.app-background {
    min-height: 100vh;
    background: var(--bg-main);
}